@font-face {
    font-family: 'The Nautigal', cursive;
    
    src: url('/assets/fonts/Roboto/The_Nautigal/');
}


/*---------------------- SELECTOR UNIVERSAL  ----------------------*/
*{
    margin: 0;
    padding: 0;
}
/*----------------------  FIN SELECTOR UNIVERSAL ----------------------*/

/*----------------------  HEADER ----------------------*/
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(89 53 33);
}


.navBackground{
    background-image: url(../Imagenes/Patrones/decorativo-rosa.webp);
    background-size: 50%;
    background-size: cover;
    font-family:'The Nautigal';
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.logo{
    height: 250px;
    width: 250px;
}



nav ul{    
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: thistle;
    
}

nav ul li{ /*Modifica cada elemento de la lista del nav, los pone horizontal*/
    font-size: 50px;
}

ul{
    list-style: none; /*Para sacar los bullets de la lista */
}

/*---------------------- FIN HEADER ----------------------*/

/*----------------------  TITULOS ----------------------*/
h1{
    background-color:thistle;
    display: flex;
    justify-content: center;
    text-emphasis:initial;
    font-family: 'Roboto';
    color: black;
    font-size: 50px;
    margin-top: 40px;
    
}

h2{
    text-emphasis:initial;
    font-family: 'Roboto';
    color: black;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*---------------------- FIN TITULOS ----------------------*/


/*---------------------- INDEX ----------------------*/
/* Body Index */
body{
    background-color: rgb(254 212 215);
    font-family: "Roboto", Sans-serif;
}

.banner{
    background-image:url(../Imagenes/Productos/alfajores-mani-1.jpeg);
    background-position: center;
    background-attachment: fixed; /*La imagen se mueve con el scroll*/
    background-size: cover;
    width: 100%;
    height: 500px;
}

.galeria-inicio{
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: repeat(2,2fr);
    margin: 50px;

    grid-template-areas:
    "grande grande chico1"
    "grande grande chico2";

    gap: 10px;
}

.imagen-inicio{
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.grande{
    background-image: url(../Imagenes/Productos/box-4-edit.jpeg);
    background-size: cover;
    grid-area: grande;

}

.chica1{
    background-image: url(../Imagenes/Productos/Torre-edit.jpeg);
    background-size: cover;
    grid-area: chico1;
}
.chica2{
    background-image: url(../Imagenes/Productos/lemon-pie-edit.jpeg);
    background-size: cover;
    grid-area: chico2;
}


/*
.TituloTabla{
    font-family:'The Nautigal';
    font-size: 50px;
}


.DiseñoTabla{
    background-color:wheat;
    border: 10px;
    border-style: double;
    border-color: black;
    padding:50px;
    border-radius: 15px;
}
*/

.SeccionVideo{
    display: flex;
    flex-direction: column;
}


.video1{
    height: 550px;
}

/*---------------------- FIN INDEX ----------------------*/

/*---------------------- PRODUCTOS ----------------------*/

.productos{
    display: grid;
    justify-items: center;
}


.productos img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

.tortas-clasicas{
    display: grid;
    height: 600px;
    width: 600px;

    margin-bottom: 60px;
    margin-left: 60px;

    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,2fr);

    justify-content: center;
    align-content: center;
   
    gap: 10px;
}


.tiny-cakes{
    display: grid;
   
    height: 300px;
    width: 600px;

    margin-bottom: 60px;
    margin-left: 60px;

    grid-template-columns: repeat(2,2fr);

    justify-content: center;
    align-content: center;
   
    gap: 10px;
}

.individuales{
    display: grid;
   
    height: 600px;
    width: 600px;

    margin-bottom: 60px;
    margin-left: 60px;

    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,2fr);

    justify-content: center;
    align-content: center;
   
    gap: 10px;
}

.letter-cakes{
    display: grid;
   
    height: 300px;
    width: 600px;

    margin-bottom: 60px;
    margin-left: 60px;

    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);

    justify-content: center;
    align-content: center;
}

.boxes{
    display: grid;
   
    height: 600px;
    width: 600px;

    margin-bottom: 60px;
    margin-left: 60px;

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

    justify-content: center;
    align-content: center;
    gap: 10px;
}

/*---------------------- FIN PRODUCTOS ----------------------*/

/*----------------------  FECHAS ESPECIALES ----------------------*/
.fechas-especiales{
    display: grid;
    justify-items: center;
}

.boxes-fechas-especiales{
    display: grid;
    height: 1000px;
    width: 90%;

    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,2fr);

    margin-left: 60px;
    margin-bottom: 60px;
    justify-items: center;
    align-items: center;
    gap: 10px;

}

.boxes-fechas-especiales img{
    height: 500px;
    width: 500px;
    border-radius: 10px;
}
/*----------------------  FIN FECHAS ESPECIALES ----------------------*/

/*---------------------- FOOTER  ----------------------*/
#footer{
    
    width: 100%;
    background-image: url(../Imagenes/Patrones/decorativo-rosa.webp);
    
    color: black;
    padding: 20px 20px;
    background-position: right;
    background-size: cover;
}
#footer h4{
    padding: 15px;
    font-family:'The Nautigal';
    font-weight: bold; 
    font-size: 40px;
}
#footer li{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

#footer h6{
    padding: 10px;
}

/*------------- FIN FOOTER -------------*/

/*-------------  CONTACTO -------------*/
.formulario
{
   /* background-image: url(../Imagenes/Productos/alfajores-mani-1.jpeg) ;*/

    background-size:auto;
    background-position:center;
   background-attachment: fixed; /*la imagen del fondo se mantiene fija minetras se scrollea*/
    font-family:'Roboto';
    font-size: 30px;
}
.formulario legend{
    background-color: #f08a36bd;
    border-radius: 20px;
    padding: 10px;
    font-size: 25px;
    
}


.boton{
    background-color: black;
    font-family: 'calibri';
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
}
/*------------- FIN CONTACTO -------------*/


/* ****************** MOVIL **************** */
@media only screen and (max-width: 320px){

    nav ul{
        display: flex;
        flex-direction: column;
    }

    #footer{
        padding: 0%;
    }

    /*INICIO*/
    .banner{
        display: flex;
        flex-wrap: wrap;
    }


    .galeria-inicio{

        height: auto;
        grid-template-columns: 90%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        "grande"
        "chico1"
        "chico2";
        margin-left: 10%;
    }

    .grande{
        height: 250px;
        width: 250px;
    }

    .chica1{
        height: 250px;
        width: 250px;
    }
    .chica2{
        height: 250px;
        width: 250px;
    }

    /* FIN INICIO */


    /*PRODUCTOS*/
    h1{
        display: flex;
        flex-wrap: wrap;
        font-size: x-large;
    }


    .productos{
        display: flex;
        flex-direction: column;
    }

    .tortas-clasicas{
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;

    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    }

    .tiny-cakes{
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;

    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    }

    .individuales{
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;

    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    }

    .letter-cakes{
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    }

    .boxes{
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    }

    /* FIN PRODUCTOS*/

    /*FECHAS ESPECIALES*/
    .fechas-especiales h2{
        display: flex;
        flex-direction: column;
        font-size: 40px;
    }

    .boxes-fechas-especiales{
    height: auto;
    width: auto;
    margin-left: 10%;

    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);

    margin-left: 0%;

    }

    .boxes-fechas-especiales img{
        height: 250px;
        width: 250px;
    }
  /* FIN FECHAS ESPECIALES*/

  /*NOSOTROS*/
    /*FIN NOSOTROS*/
  
}